<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(locals.numb) { %>
        <h1>Letters in name were <%= numb %>!</h1>
      <% } else { %>
        <h1>Click Below to check functions of web</h1>
      <% } %>
       
    <form action="/submit" method="post">
<input type="text"name="num1" placeholder="First Nmae">
<input type="text"name="num2" placeholder="Second Name">
<button type="submit" name="submit">Click </button>
</body>
</html>